/*------------------------------------------------------------------
		File Name: style.css
-------------------------------------------------------------------*/

/*------------------------------------------------------------------
		[Table of contents]

		1.  IMPORT FONTS
    2.  IMPORT FILES
	3.  BASIC
    4.  LOADER
	5.  HEADER
	      - Header Top 
	      - Menu 
	      - Search Bar
	      - Side Menu
		  - Fix Header
	6.  SLIDER PARALLAX
	      - Simple Parallax
	      - Slider Text
		  - Testimonial slider
	7.  SECTION
	      - Counter
		  - Form
		  - Progress Bar
		  - Pagination
	8.  SLIDER
	9.  ACCORDION
	10. PRICE TABLE
	11. INNER PAGE BANNER
	12. SIDEBAR
	     - Sidebar Search
	13. BLOG	
         - Blog Detail	
	14. CASE STUDIES
	15. SHOP
    16. FOOTER
	17. CUSTOM
		
	-------------------------------------------------------------------*/


/*------------------------------------------------------------------
		1. IMPORT FONTS
	-------------------------------------------------------------------*/

@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,300,700,900);
@import url('https://fonts.googleapis.com/css?family=Raleway:100,100i,200,200i,300,300i,400,400i,500,500i,300,300i,700,700i,800,800i,900,900i');
@import url('https://fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,300,300i,700,700i,800,800i,900,900i');
@import url(https://fonts.googleapis.com/css?family=Roboto:300,400,400i,500,500i,700,700i);
@import url(https://fonts.googleapis.com/css?family=Arvo:400,400i,700,700i);

/*------------------------------------------------------------------
		2. IMPORT FILES
	-------------------------------------------------------------------*/

@import url(animate.css);
@import url(font-awesome.min.css);

/*------------------------------------------------------------------
		3. BASIC
	-------------------------------------------------------------------*/

* {
	margin: 0;
	padding: 100;
	outline: none !important;
	box-sizing: border-box;
}

html,
body {
	color: #898989;
	font-size: 15px;
	font-family: 'Raleway', sans-serif;
	line-height: normal;
	font-weight: 400;
	overflow-x: hidden;
}

body {
	overflow-x: hidden;
}

body.demos .section {
	background: url(images/bg.png) repeat top center #f2f3f5;
}

body.demos .section-title img {
	max-width: 280px;
	display: block;
	margin: 10px auto;
}

body.demos .service-widget h3 {
	border-bottom: 1px solid #ededed;
	font-size: 18px;
	padding: 20px 0;
	background-color: #ffffff;
}

body.demos .service-widget {
	margin: 0 0 30px;
	padding: 30px;
	background-color: #fff
}

body.demos .container-fluid {
	max-width: 1080px
}

a {
	color: #1f1f1f;
	text-decoration: none !important;
	outline: none !important;
	-webkit-transition: all .3s ease-in-out;
	-moz-transition: all .3s ease-in-out;
	-ms-transition: all .3s ease-in-out;
	-o-transition: all .3s ease-in-out;
	transition: all .3s ease-in-out;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	letter-spacing: 0;
	font-weight: normal;
	position: relative;
	padding: 0;
	font-weight: normal;
	line-height: normal;
	color: #1f1f1f;
	margin: 0
}

h6 {
	font-size: 14px;
	margin-bottom: 10px;
}

h1 {
	font-size: 24px
}

.small_heading.main-heading h2 {
	font-size: 21px;
}

.small_heading.main-heading::after {
	top: 18px;
}

.small_heading.main-heading {
	margin-bottom: 20px;
	width: 100%;
}

h3 {
	font-size: 18px
}

h4 {
	font-size: 16px
}

h5 {
	font-size: 14px
}

h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
	color: #212121;
	text-decoration: none!important;
	opacity: 1
}

ol,
ul {
	list-style: none;
	margin: 0;
}

a {
	color: #000;
	text-decoration: none;
	outline: none;
}

a,
.btn {
	text-decoration: none !important;
	outline: none !important;
	-webkit-transition: all .3s ease-in-out;
	-moz-transition: all .3s ease-in-out;
	-ms-transition: all .3s ease-in-out;
	-o-transition: all .3s ease-in-out;
	transition: all .3s ease-in-out;
}

.btn-custom {
	margin-top: 20px;
	background-color: transparent;
	border: 2px solid #ddd;
	padding: 12px 40px;
	font-size: 16px;
}

.button_section {
	float: left;
	width: 100%;
}

a.btn,
button.btn {
	min-width: 170px;
	height: 50px;
	border-radius: 100px;
	padding: 0;
	text-align: center;
	line-height: 52px;
	font-size: 14px;
	font-weight: 600;
	text-transform: uppercase;
	margin-top: 10px;
	color: #fff;
	border: solid transform 1px;
	text-shadow: 1px 1px 3px rgba(0, 0, 0, .5);
	position: relative;
	font-family: 'Poppins', sans-serif;
}

.btn.dark_gray_bt {
	background: #252525;
}

a.btn.border_btn {
	border: solid transparent 1px;
	background: transparent;
}

a.btn:hover,
button.btn:hover,
a.btn:focus,
button.btn:focus {
	background: #252525;
	color: #fff;
}

button.btn.white_btn,
a.btn.white_btnbutton.btn.white_btn,
a.btn.white_btn {
	background: #fff;
	padding: 0 50px;
}

.btn.sqaure_bt i {
	margin-left: 8px;
	font-weight: 600;
	top: -1px;
	position: relative;
}

.bottom_info .btn.sqaure_bt {
	margin: 0;
}

.bottom_info .pull-right {
	margin-top: 17px !important;
}

.blog_grid .bottom_info .pull-right {
	margin-top: 0 !important;
}

.padding-bottom_0 {
	padding-bottom: 0 !important;
}

.padding-top_0 {
	padding-top: 0 !important;
}

.padding-bottom_1 {
	padding-bottom: 10px !important;
}

.padding-bottom_2 {
	padding-bottom: 20px !important;
}

.padding-bottom_3 {
	padding-bottom: 30px !important;
}

.padding-bottom_4 {
	padding-bottom: 40px !important;
}

.padding-bottom_5 {
	padding-bottom: 50px !important;
}

.pull-right {
	float: right !important;
}

.pull-left {
	float: left !important;
}

.img-responsive {
	max-width: 100%;
}

.color_black p,
.color_black ul,
.color_black ul li {
	color: #000;
}

.black_color {
	color: #000;
}

.semi_bold {
	font-weight: 600;
}

.lead {
	font-size: 18px;
	line-height: 30px;
	color: #767676;
	margin: 0;
	padding: 0;
}

blockquote {
	margin: 20px 0 20px;
	padding: 30px;
}

.margin_0 {
	margin: 0 !important;
}

.padding_0 {
	padding: 0 !important;
}

h2 {
	font-size: 35px;
	color: #000;
	line-height: 36px;
	font-weight: 600;
	position: relative;
	margin-bottom: 15px;
	text-transform: uppercase;
	margin-top: 15px;
}

h3 {
	font-size: 24px;
	color: #000;
	line-height: normal;
	font-weight: 500;
	text-transform: none;
	margin-bottom: 20px;
	font-weight: 600;
}

h4 {
	font-size: 18px;
	color: #000;
	line-height: 21px;
	font-weight: 600;
	text-transform: none;
	margin: 30px 0 20px 0;
}

h5 {
	font-size: 15px;
	font-weight: 700;
	text-transform: uppercase;
	margin: 0;
	line-height: normal;
	color: #000;
}

p {
	color: #707070;
	font-size: 15px;
	line-height: 21px;
}

p.large {
	color: #898989;
	font-size: 20px;
	font-weight: 400;
	margin: 0 0 10px 0;
}

p.large_2 {
	font-weight: 500;
	font-size: 18px;
	color: #898989;
}

button,
input,
select,
textarea,
option {
	font-family: 'Poppins', sans-serif;
}

a#submit {
	z-index: 1;
}

a:hover,
a:focus {
	color: #000;
	text-decoration: none;
}

.span1,
.span2,
.span3,
.span4,
.span5,
.span6,
.span7,
.span8,
.span9,
.span10 {
	padding: 0 15px;
	float: left;
	min-height: 25px;
}

.border_radius_0 {
	border-radius: 0 !important;
}

.span1 {
	width: 10%;
}

.span2 {
	width: 20%;
}

.span3 {
	width: 30%;
}

.span4 {
	width: 40%;
}

.span5 {
	width: 50%;
}

.span6 {
	width: 60%;
}

.span7 {
	width: 70%;
}

.span8 {
	width: 80%;
}

.span9 {
	width: 90%;
}

.span10 {
	width: 100%;
}

.container {
	width: 1200px;
	max-width: 1200px;
}

.section_padding {
	padding: 80px 0 100px;
}

.layout_2_padding {
	padding: 100px 0 80px;
}

.full {
	width: 100%;
	float: left;
	margin: 0;
	padding: 0;
}

.top_80 {
	top: 80px;
}

.vertical-center {
	display: flex;
	align-items: center;
	height: 100%;
	width: 100%;
}

.right_side {
	float: right;
}

.text_align_right {
	text-align: right;
}

.left_side {
	float: left;
}

.text_align_left {
	text-align: left;
}

.text_align_center {
	text-align: center;
}

.center {
	width: 100%;
	display: flex;
	justify-content: center;
}

.modal-backdrop.show {
	opacity: 1;
}

.border_dotted_circle {
	border: dotted #e1e1e1 3px;
	width: 170px;
	height: 170px;
	border-radius: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
	z-index: 1;
}

.border_dotted_circle:hover,
.border_dotted_circle:focus {
	border: dotted #e1e1e1 3px;
	animation-name: rotate;
	animation-duration: 2s;
	animation-iteration-count: infinite;
	animation-timing-function: linear;
	-webkit-animation-name: rotate;
	-webkit-animation-duration: 2s;
	-webkit-animation-iteration-count: infinite;
	-webkit-animation-timing-function: linear;
	-moz-animation-name: rotate;
	-moz-animation-duration: 2s;
	-moz-animation-iteration-count: infinite;
	-moz-animation-timing-function: linear;
	-ms-animation-name: rotate;
	-ms-animation-duration: 5s;
	-ms-animation-iteration-count: infinite;
	-ms-animation-timing-function: linear;
	-o-animation-name: rotate;
	-o-animation-duration: 2s;
	-o-animation-iteration-count: infinite;
	-o-animation-timing-function: linear;
}

@-webkit-keyframes rotate {
	from {
		-webkit-transform: rotate(0deg);
		-moz-transform: rotate(0deg);
		-ms-transform: rotate(0deg);
		-o-transform: rotate(0deg);
		transform: rotate(0deg);
	}
	to {
		-webkit-transform: rotate(360deg);
		-moz-transform: rotate(360deg);
		-ms-transform: rotate(360deg);
		-o-transform: rotate(360deg);
		transform: rotate(360deg);
	}
}

@-moz-keyframes rotate {
	from {
		-moz-transform: rotate(0deg);
	}
	to {
		-moz-transform: rotate(360deg);
	}
}

.white_fonts p,
.white_fonts h1,
.white_fonts h2,
.white_fonts h3,
.white_fonts h4,
.white_fonts h5,
.white_fonts h6,
.white_fonts ul,
.white_fonts ul li,
.white_fonts ul li a,
.white_fonts ul i,
.white_fonts .post_info i,
.white_fonts div,
.white_fonts a.read_more {
	color: #fff !important;
}

.light_silver_fonts p,
.light_silver_fonts h1,
.light_silver_fonts h2,
.light_silver_fonts h3,
.light_silver_fonts h4,
.light_silver_fonts h5,
.light_silver_fonts h6,
.light_silver_fonts ul,
.light_silver_fonts ul li,
.light_silver_fonts ul li a,
.light_silver_fonts ul i,
.light_silver_fonts .post_info i,
.light_silver_fonts div,
.light_silver_fonts a.read_more {
	color: #ccc !important;
}


/** icon **/

.iconsmind-Over-Time2::before {
	content: "\eb2e";
}

.iconsmind-Money-2::before {
	content: "\eac6";
}

.iconsmind-People-onCloud::before {
	content: "\eb52";
}

.iconsmind-Wallet-2::before {
	content: "\ede5";
}

.iconsmind-Shield::before {
	content: "\ec4f";
}

.iconsmind-Ribbon-2::before {
	content: "\ebf5";
}


/** end icon **/

section.background_bg_bottom {
	background-repeat: repeat-x !important;
	background-position: bottom center !important;
}

.parallax_bg {
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
}

.dark_gray {
	background-color: #111;
	min-height: 400px;
}

.dark_gray.white_fonts h2 {
	color: #17a5e9 !important;
}

.dark_gray.light_silver_fonts h2 {
	color: #fff !important;
}

.list_style_1 {
	font-size: 14px;
	font-weight: 500;
	margin: 20px 0 15px;
}

.list_style_1 i {
	float: left;
	margin: 3px 16px 0 0;
}

.light_silver {
	background: #f8f8f8;
}

.light_silver_2 {
	background: #f8f8f8 !important;
}

.padding-bottom_5 {
	padding-bottom: 50px !important;
}

hr.dottad_border {
	border-top: dotted 3px;
	margin: 80px 0;
}

.margin_bottom_30_all {
	margin-bottom: 30px;
}

.margin_bottom_50_all {
	margin-bottom: 50px;
}

.margin_bottom_20_all {
	margin-bottom: 20px;
}

.margin_bottom_0 {
	margin-bottom: 0px !important;
}

.section {
	float: left;
	width: 100%;
}

.pagination>li.active a {
	color: #fff;
}

.contant_section {
	float: left;
	width: 100%;
}

.blog_feature_img img {
	width: 100%;
}

.main_heading {
	position: relative;
	margin-bottom: 65px;
}

.main_heading::after {
	content: "";
	display: block;
	margin: 20px auto 0;
	width: 80px;
	height: 5px;
	background: #17a5e9;
}

.main_heading.text_align_left::after {
	margin-left: 0;
}

.main_heading.text_align_right::after {
	margin-right: 0;
}

.icon img {
	width: 100px;
}


/*------------------------------------------------------------------
		4. LOADER
	-------------------------------------------------------------------*/

.bg_load {
	float: left;
	position: fixed;
	width: 100%;
	text-align: center;
	height: 100%;
	z-index: 999;
	top: 0;
	left: 0;
	display: flex;
	justify-content: center;
	align-items: center;
}

.loader_animation {
	animation-name: rotatey;
	animation-duration: 2s;
	animation-iteration-count: infinite;
	animation-timing-function: linear;
	-webkit-animation-name: rotatey;
	-webkit-animation-duration: 2s;
	-webkit-animation-iteration-count: infinite;
	-webkit-animation-timing-function: linear;
	-moz-animation-name: rotatey;
	-moz-animation-duration: 2s;
	-moz-animation-iteration-count: infinite;
	-moz-animation-timing-function: linear;
	-ms-animation-name: rotatey;
	-ms-animation-duration: 2s;
	-ms-animation-iteration-count: infinite;
	-ms-animation-timing-function: linear;
	-o-animation-name: rotatey;
	-o-animation-duration: 2s;
	-o-animation-iteration-count: infinite;
	-o-animation-timing-function: linear;
}

@-webkit-keyframes rotatey {
	from {
		-webkit-transform: rotatey(0deg);
		-moz-transform: rotatey(0deg);
		-ms-transform: rotatey(0deg);
		-o-transform: rotatey(0deg);
		transform: rotatey(0deg);
	}
	to {
		-webkit-transform: rotatey(360deg);
		-moz-transform: rotatey(360deg);
		-ms-transform: rotatey(360deg);
		-o-transform: rotatey(360deg);
		transform: rotatey(360deg);
	}
}

@-moz-keyframes rotatey {
	from {
		-moz-transform: rotatey(0deg);
	}
	to {
		-moz-transform: rotatey(360deg);
	}
}

.full_layout_without_container {
	padding: 80px 15px 50px;
}

.opacity_half_color {
	opacity: 0.5;
}

.opacity_70_color {
	opacity: 0.7;
}

.padding_75 {
	padding: 75px 0;
}


/*------------------------------------------------------------------
		5. HEADER
	-------------------------------------------------------------------*/


/*----- header fix -----*/

.fixed-header {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
}


/*----- Header Top -----*/

header {
	position: relative;
	z-index: 1;
}

header .right_bt {
	float: right;
}

header .right_bt .btn {
	margin: 26px 0 0;
}

.header_top {
	min-height: 50px;
}

.header_bottom {
	min-height: auto;
}

.header_top ul {
	list-style: none;
	margin: 10px 0;
	padding: 0;
}

.header_top ul li {
	font-size: 14px;
	color: #fff;
	float: left;
}

.header_top ul li i {
	margin: 0 2px 0 0;
}

.header_top ul li i {
	color: #fff;
	transition: ease all 0.2s;
	font-size: 18px;
	margin-right: 5px;
}

.header_top .social_icon ul li a {
	color: #fff;
}

.top_information.pull-left li {
	margin-right: 20px;
}

.top_information.pull-right li {
	margin-left: 20px;
}

.logo {
	float: left;
	margin: 5px 0 5px;
	position: relative;
	left: 0;
}

.logo img {
	height: 70px;
}

.header_style_1 .header_top {
	position: relative;
}

.make_appo {
	float: right;
}

.make_appo .btn.white_btn {
	margin: 0;
	border-radius: 0;
	font-weight: 600;
	padding: 0 35px;
	font-family: 'Raleway', sans-serif;
}

.topbar-left {
	float: left;
}

.header_top .topbar-left .list-inline {
	float: left;
	margin: 13px 0;
}

.header_top ul li {
	font-size: 13px;
	color: #fff;
	float: left;
	margin-right: 20px;
}

.mechanic header#default_header {
	border-top: solid #3c5c9e 8px;
}

.mechanic .logo {
	margin: 25px 0 0;
}

.header_bottom {
	position: relative;
	z-index: 9;
}


/*----- Menu -----*/

.menu_side {
	float: right;
	width: auto;
}

.main_menu div#navbar_menu ul li a i {
	font-weight: 600;
}

#navbar_menu,
#navbar_menu ul,
#navbar_menu ul li,
#navbar_menu ul li a,
#navbar_menu #menu-button {
	margin: 0;
	padding: 0;
	border: 0;
	list-style: none;
	line-height: 1;
	display: block;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

#navbar_menu ul,
#navbar_menu ul li,
#navbar_menu ul li a,
#navbar_menu #menu-button {
	position: relative;
}

#navbar_menu:after,
#navbar_menu>ul:after {
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
}

#navbar_menu #menu-button {
	display: none;
}

#navbar_menu {
	margin: 37px 0 0 0;
	float: left;
}

#navbar_menu>ul>li {
	float: left;
}

#navbar_menu.align-center>ul {
	font-size: 0;
	text-align: center;
}

#navbar_menu.align-center>ul>li {
	display: inline-block;
	float: none;
}

#navbar_menu.align-center ul ul {
	text-align: left;
}

#navbar_menu.align-right>ul>li {
	float: right;
}

#navbar_menu>ul>li>a {
	padding: 18px 60px;
	font-size: 14px;
	color: #000;
	font-weight: 600;
	text-transform: uppercase;
}

#navbar_menu ul ul {
	position: absolute;
	left: -9999px;
}

#navbar_menu.align-right ul ul {
	text-align: right;
}

#navbar_menu ul ul li {
	height: 0;
	-webkit-transition: all .25s ease;
	-moz-transition: all .25s ease;
	-ms-transition: all .25s ease;
	-o-transition: all .25s ease;
	transition: all .25s ease;
}

#navbar_menu li:hover>ul {
	left: auto;
}

#navbar_menu.align-right li:hover>ul {
	left: auto;
	right: 0;
}

#navbar_menu li:hover>ul>li {
	height: 45px;
}

#navbar_menu ul ul ul {
	margin-left: 100%;
	top: 0;
}

#navbar_menu.align-right ul ul ul {
	margin-left: 0;
	margin-right: 100%;
}

#navbar_menu ul ul li a {
	padding: 15px 20px 15px;
	font-size: 14px;
	color: #999;
	font-weight: 500;
	background: #fff;
	color: #666 !important;
}

#navbar_menu ul ul li:last-child>a,
#navbar_menu ul ul li.last-item>a {}

#navbar_menu ul ul li:hover>a,
#navbar_menu ul ul li a:hover {
	color: #ffffff;
}

#navbar_menu ul ul {
	width: 250px;
	box-shadow: 0 5px 35px -18px #000;
	border-top: solid #000 2px;
}

#navbar_menu ul ul li a:hover,
#navbar_menu ul ul li a:focus {
	color: #fff !important;
	padding: 15px 20px 15px;
}

.main_bg {
	margin-top: 0px;
	min-height: 70px;
	position: relative;
}


/*-- Search Bar --*/

.search_icon {
	float: left;
	margin: 48px 0px 0 15px;
}

.search_icon ul {
	list-style: none;
	float: left;
	margin: 0;
	padding: 0;
}

.search_icon ul li {
	float: left;
	font-size: 14px;
}

.search_icon ul li {
	float: left;
	font-size: 16px;
}

.search_icon ul li a {
	color: #000;
}

#search_bar {
	padding: 0 !important;
}

#search_bar .modal-content {
	position: relative;
	background-color: transparent;
	border: none;
	border-radius: 0;
	box-shadow: none;
}

#search_bar .modal-dialog {
	width: 100%;
	padding: 0;
	margin: 0;
	transition: -webkit-transform .3s ease-out;
	transition: transform .3s ease-out;
	transition: transform .3s ease-out, -webkit-transform .3s ease-out;
	-webkit-transform: translate(0, 0%);
	transform: translate(0, 0%);
	max-width: 100%;
	margin: 0;
}

#search_bar button.close {
	float: right;
	font-weight: 400;
	line-height: 1;
	color: #000;
	text-shadow: none;
	opacity: 1;
	width: 60px;
	height: 60px;
	font-size: 18px;
	background: #fff;
	margin: 0;
	position: fixed;
	right: 0;
}

#search_bar .modal-header {
	padding: 0;
	border-bottom: none;
}

#search_bar .search-global {
	position: absolute;
	top: 50vh;
	margin-top: -122px;
	width: 90%;
}

#search_bar .search-global__input {
	width: 100%;
	color: #fff;
	border: none;
	border-bottom: 1px solid #fff !important;
	background-color: transparent;
	opacity: 1;
	height: auto !important;
	padding: 0 70px 23px 0 !important;
	font-size: 65px;
	font-weight: 600;
	line-height: 75px;
	letter-spacing: -3px;
}

#search_bar .search-global__btn {
	position: absolute;
	top: 7px;
	right: 16px;
	font-size: 42px;
	color: #fff;
	border: none;
	background-color: transparent;
	transition: all 0.3s;
	cursor: pointer;
}

#search_bar .search-global__note {
	margin-top: 25px;
	font-size: 15px;
	color: #fff;
}

#search_bar *::placeholder {
	color: #fff;
	opacity: 1;
}

#search_bar .modal-body {
	float: left;
	width: 100%;
	margin: 0;
	padding: 0;
}

#search_bar .navbar-search {
	float: left;
	width: 100%;
	display: flex;
	justify-content: center;
}

.modal-open {
	padding: 0 !important;
}

.modal-backdrop.in {
	opacity: 1;
}

.modal-backdrop {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 1040;
	background-color: rgba(0, 0, 0, .8);
}


/*-- Side Menu --*/

.menu_icon {
	float: left;
	padding: 48px 0 0 0;
}

.menu_icon ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

.menu_icon ul li a {
	color: #000;
}


/*-- Fix Header --*/

.fix_header {
	position: absolute;
	width: 100%;
	top: 0;
}


/*-- header style 2 --*/

.header_style_2 #navbar_menu {
	margin: 12px 0 11px;
	float: left;
}

.header_style_2 .search_icon {
	float: left;
	margin: 22px 0 0 21px;
}

.menu_icon {
	padding: 22px 0px 0 0px;
}

.header_bottom .info_cont h4 {
	font-size: 14px;
	font-family: poppins;
	font-weight: 500;
}

.header_bottom .information_bottom p {
	color: #737373;
	font-family: poppins;
	font-size: 14px;
}

.header_bottom .information_bottom {
	margin: 45px 0 0;
}

.main_bg #navbar_menu>ul>li>a {
	color: #fff;
}

.main_bg .search_icon ul li a {
	color: #fff;
}

.main_bg .menu_icon ul li a {
	color: #fff;
}

.header_style_2 .header_top ul li,
.header_style_2 .header_top a,
.header_style_2 .header_top i {
	color: #737373;
}

.header_style_2 .header_bottom {
	background: #fff;
}

.header_style_2 .menu_side {
	float: right;
	width: 100%;
}

.header_style_4 .header_top {
	background: transparent;
}

.header_style_4 .header_bottom {
	min-height: 120px;
	background: #ffffff;
	padding: 0 30px 0 20px;
	float: left;
	width: 100%;
}

.header_style_4 .logo {
	left: 0px;
}

header .header_top,
header .header_bottom,
section,
footer,
.bottom_footer,
.light_silver,
.bottom_silver_section {
	float: left;
	width: 100%;
}




/*------------------------------------------------------------------
		7. SECTION
	-------------------------------------------------------------------*/

.padding_layout_1 {
	padding-top: 0px;
	padding-bottom: 0px;
    
top: 25%;
 
   position: inherit;
    

   
}













/*------------------------------------------------------------------
		16. FOOTER
	-------------------------------------------------------------------*/

footer {
	background: #632e62;
	min-height: 375px;
	padding: 10px 0;
	position: relative;
}



.bottom_footer {
	background: #592958;
	padding: 13px 0;
	min-height: 50px;
}


.footer_style_2 {
	padding: 0;
	background: #111;
}
.bottom_footer_style_2 {
	background: #f8f8f8;
}

.footer_blog {
	float: left;
	width: 100%;
	padding: 10px 75px 100px 150px;
}


footer h2 {
	color: #eee;
	font-size: 14px;
	text-transform: uppercase;
	font-weight: 700;
	margin-bottom: 35px;
	margin-top: 0;
	letter-spacing: 0.5px;
}

.

_blog .col-md-6 {
	margin-bottom: 30px;
}


footer h2::after {
	width: 30px;
	height: 4px;
	content: "";
	margin: 0;
	display: block;
	position: relative;
	top: 7px;
}




footer p a {
	color: #666;
	font-size: 14px;
	line-height: 24px;
	font-weight: 500;
}

.footer-menu li a {
	color: #666;
	font-size: 14px;
	line-height: 24px;
	font-weight: 500;
}

.footer_mail-section .field input {
	border: none;
	padding: 10px 15px 9PX;
	font-size: 14px;
	font-weight: 500;
	max-width: 215px;
	width: 100%;
}

.footer_mail-section .field button.button_custom {
	width: 40px;
	height: 40px;
	font-size: 14px;
	padding: 8px 8px;
	border: none;
	float: left;
	color: #fff;
}

.footer_mail-section .field {
	padding: 0;
}

.cprt {
	width: 100%;
	text-align: center;
	position: absolute;
	bottom: 0;
	float: left;
	height: auto;
	left: 0;
	padding: 30px 0;
	padding-left: 35%;
}


.cprt p {
	color: #fff;
	margin: 0;
	font-size: 14px;
}

.cprt p {
	line-height: 18px;
	padding: 0 15px;
}
